body {
    font-family: 'Nunito', sans-serif;
}

.p-4 {
    padding: 1rem;
}

nav a {
    padding: .5rem;
}

.border-1 {
    border-width: .07rem;
}

.form div {
    margin-bottom: 15px;;
}

.form div>input {
    display:block;
}

.form div>button {
    padding: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form {
    margin-top: 20px;
}

.form input,
.form button {
    margin-top: 5px;
}

.form button {
    padding: 10px;
    background-color: #4CAF50; /* Green color, you can choose your own color */
    color: white;
    border: 1px solid #4CAF50;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049; /* Darker green color on hover */
}

.form-bg-white {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}